@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@import "tailwindcss";
@import "../../public/fonts/coconat/css/stylesheet.css";
@import "../../public/fonts/satoshi/css/satoshi.css";

@theme {
  --color-primary: #b50020;
  --color-secondary: #cd9952;
  --font-coconat: Coconat;
  --font-satoshi: Satoshi-Regular;
  --spacing-desktopScreen: 1280px;
}

h1,
h2{
  font-family: "Coconat", sans-serif;
}

body {
  font-family: "Satoshi-Regular", "sans-serif";
}
